.mainCover{
    /* border: 1px solid blue; */
    position : fixed;
    top : 0;
    left : 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;


} 

.modalCover{
    background-color: white;
    position: relative;
    height: 40%;
    width: 40%;
    border-radius: 20px;
    padding: 1rem;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    box-shadow: 1.5px 1.5px 5px 0.1px rgb(89, 81, 81);
    justify-content: center;
    align-items: center;
    overflow-x: scroll ;
    
}